{:deps {org.clojure/math.numeric-tower {:mvn/version "0.0.4"}}
 :aliases
 {:test
  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}}
   :main-opts   ["-m" "kaocha.runner"]
   :extra-paths ["test" "resources"]}}}
